@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<h2><strong>Abraham Oswaldo Andrade García</strong></h2>
<h3>Desarrollador de software</h3>
<br />
<div>
    <address>
        <strong>Teléfono:</strong>667-354-1999<br />
    </address>
</div>

<div>
    <address>
        <strong>E-mail:</strong> oswaldo.andgar@gmail.com<br />
    </address>
</div>
